# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Local env files
.env

# Pytest cache
.pytest_cache/

# Editor backups
*~
# macOS
.DS_Store
